<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://mybatis.org/schema/mybatis-spring 
                           http://mybatis.org/schema/mybatis-spring-1.2.xsd">

    <mybatis-spring:scan base-package="sk.app.dao.**" />

    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource"  destroy-method="close">
                    <property name="dataSourceClassName" value="com.mysql.jdbc.jdbc2.optional.MysqlDataSource"/>
                    <property name="maximumPoolSize" value="5" />
                    <property name="maxLifetime" value="30000" />
                    <property name="idleTimeout" value="30000" />
                    <property name="dataSourceProperties">
                              <props>
                                  <prop key="url">jdbc:mysql://localhost:3306/db</prop>
                                  <prop key="user">root</prop>
                                  <prop key="password"></prop>
                                  <prop key="prepStmtCacheSize">250</prop>
                                  <prop key="prepStmtCacheSqlLimit">2048</prop>
                                  <prop key="cachePrepStmts">true</prop>
                                  <prop key="useServerPrepStmts">true</prop>
                              </props>
                    </property>
    </bean> 

    <bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:mybatis-config.xml" />
    </bean>

    <bean id="userLoginService" class="sk.app.service.UserLoginService" />

</beans>
