<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sk.app.dao.UserDetailsDAO">

    <select id="getRoles" parameterType="java.lang.Integer"
        resultType="java.lang.String">

        select role_name from user_roles ur , roles r where
        ur.role_id = r.id and ur.user_id=#{user_id}
    </select>

    <select id="getUserDetail" parameterType="java.lang.String"
            resultType="sk.app.domain.UserDetailDomain">

        select id as id ,user_name as username,user_password as password
        from user_details where user_name=#{username}
    </select>

</mapper>